:root {
    --primary-color: #037478;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-mulish);
}

main {
    display: grid;
    gap: 5rem;
}

h1,
h2,
h3 {
    font-family: var(--font-reddit);
}

h1,
h2 {
    text-transform: uppercase;
}

h2,
h3 {
    text-align: center;
}

h2 {
    font-size: 1.9rem;
    line-height: 1.1;
    margin-top: 6px;
    margin-bottom: 1rem;
}

h3 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

.icons {
    filter: invert(1);
}

@media (min-width: 576px) {

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.6rem;
    }
}