:root {
    --primary-color: #037478;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: var(--font-mulish);
}

h1, h2 {
    font-family: var(--font-reddit);
    text-transform: uppercase;
}
