:root {
    --primary-color: #037478;
    --secundary-color: #004b4d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-mulish);
}

body.overflow-hidden {
    overflow: hidden;
}

main {
    display: grid;
    gap: 5rem;
}

h1,
h2,
.subtitle {
    font-family: var(--font-reddit);
}

h1,
h2 {
    text-transform: uppercase;
}

h2,
.subtitle {
    text-align: center;
}

.subtitle {
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

.icons {
    filter: invert(1);
}