@media (min-width: 768px) {

    .section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .section img {
        aspect-ratio: 1/1;
    }
}

@media (min-width: 1280px) {

    .section img:last-child {
        grid-column: initial;
        aspect-ratio: initial;
    }
}