.section img {
    aspect-ratio: 16/9;
}

@media (min-width: 768px) {

    .section {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .section img {
        aspect-ratio: 16/8;
    }
}

@media (min-width: 1280px) {

    .section {
        grid-template-columns: repeat(4, 1fr);
    }

    .section img {
        aspect-ratio: 1/1;
    }
}