.boxes img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.boxes {
    display: grid;
    gap: 3rem;
    margin-top: 2.5rem;
}

@media (min-width: 1280px) {

    .boxes {
        gap: 6rem;
    }
}