.contacto {
    padding-inline: 0.5rem;
    position: relative;
    justify-content: center;
}

.contacto img {
    height: auto;
    aspect-ratio: 3/5;
    object-fit: cover;
}

.overlay {
    inset-inline: 0.5rem;
    background-color: var(--primary-color);
    opacity: 0.7;
    top: 0;
    bottom: 0;
}

.content {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content :global(.subtitle) {
    font-weight: 400;
    font-size: 5.5vw;
}

.contacto h2 {
    font-size: 13vw;
}

.contacto p {
    font-size: 1.3rem;
    margin-inline: 1rem;
}

.contacto a {
    font-size: 1.4rem;
    margin-inline: auto;
    background-color: #25D366;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    margin-top: 1rem;
    padding-inline: 1rem;
    padding-block: 0.25rem;
}

.contacto a img {
    width: 2rem;
    height: fit-content;
    aspect-ratio: initial;
}

.contacto,
.contacto img {
    width: 100%;
}

.contacto,
.contacto a {
    display: flex;
}

.overlay,
.content {
    position: absolute;
}

.content,
.content :global(.subtitle) {
    color: #fff;
}

.contacto img,
.contact a,
.overlay {
    border-radius: 5px;
}

@media (min-width: 576px) {

    .contacto {
        padding-inline: 1rem;
    }

    .contacto img {
        aspect-ratio: 1/1;
    }

    .overlay {
        inset-inline: 1rem;
    }

    .contacto :global(.subtitle) {
        font-size: 1.7rem;
    }

    .contacto h2 {
        font-size: 4.5rem;
    }

    .contacto p {
        margin-inline: 2rem;
    }

    .contacto p,
    .contacto a {
        font-size: 1.5rem;
    }

    .contacto a img {
        width: 2.5rem;
    }
}

@media (min-width: 768px) {
    .contacto img {
        aspect-ratio: 16/7;
    }

    .contacto h2 {
        font-size: 4rem;
    }

    .contacto p {
        margin-inline: 4rem;
    }
}

@media (min-width: 992px) {
    .contacto img {
        aspect-ratio: 16/7;
    }

    .content p:last-of-type {
        width: 60%;
        display: flex;
        margin-inline: auto;
    }
}

@media (min-width: 1280px) {
    .contacto img {
        aspect-ratio: 16/5;
    }

    .contacto h2 {
        font-size: 5rem;
    }

    .contacto p,
    .contacto a {
        font-size: 1.5rem;
    }
}