.section {
    height: calc(100vh - 5.5vh - 1.5rem);
    position: relative;
    background-image: url('/images/Banner.png');
    background-position: 90%;
    margin-inline: 0.5rem;
    border-radius: 20px;
    background-size: cover;
}

.section div {
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    margin-top: 1.5rem;
}

.section div h1 {
    font-size: 5.5vh;
    line-height: 1;
}

.section div p {
    font-family: var(--font-reddit);
}

.section div a {
    color: #fff;
    background-color: var(--primary-color);
    padding-block: 0.5rem;
    border-radius: 7px;
    width: fit-content;
    font-weight: 700;
}

.section div a:hover,
.section div a:active {
    background-color: var(--secundary-color);
}

.section div,
.section div a {
    padding-inline: 2rem;
}

.section div p,
.section div a {
    font-size: 3vh;
}

@media (min-width: 576px) {

    .section div {
        margin-top: 2rem;
    }
}

@media (min-width: 768px) {
    .section {
        height: calc(100dvh - 5.5rem);
        margin-inline: 1rem;
        border-radius: 10px;
    }

    .section div {
        left: 0;
        width: 100%;
        align-items: center;
        padding-inline: 2.5rem;
        margin-top: 3rem;
    }
}

@media (min-width: 768px) and (max-height: 650px) {

    .section {
        background-position: 20% 70%;
    }

    .section div h1 {
        font-size: 7vh;
    }

    .section div {
        margin-top: 1.5rem;
        align-items: start;
        text-align: start;
        width: 75%;
        gap: 0.5rem;
        margin-left: -1rem;
    }

    .section div p,
    .section div a {
        font-size: 4vh;
    }
}

@media (min-width: 1024px) {

    .section img {
        object-position: 50% 73%;
    }

    .section div {
        align-items: start;
        text-align: start;
        width: 100%;
        gap: 1rem;
    }

    .section div h1 {
        font-size: 8vh;
    }

    .section div p,
    .section div a {
        font-size: 4vh;
    }
}

@media (min-width: 1024px) and (max-height: 650px) {

    .section div {
        width: 75%;
    }
}

@media (min-width: 1280px) {

    .section {
        background-position: 20% 75%;
    }

    .section div h1 {
        font-size: 9vh;
    }

    .section div p,
    .section div a {
        font-size: 4vh;
    }
}

@media (min-width: 1280px) and (max-height: 850px) {

    .section div {
        width: 65%;
    }
}

@media (min-width: 1536px) and (max-height: 950px) {

    .section div {
        width: 70%;
    }
}