.section,
.cards {
    display: grid;
}

.section {
    background-color: #F3F3F3;
    margin-inline: 0.5rem;
    padding-top: 2.5rem;
    place-items: center;
    border-radius: 5px;
}

.cards {
    gap: 2.5rem;
    margin-top: 2.5rem;
}

@media (min-width: 576px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 992px) {

    .section {
        padding-block: 4rem;
    }
}

@media (min-width: 1280px) {

    .section {
        margin-inline: 1rem;
    }

    .cards {
        grid-template-columns: repeat(4, 22vw);
    }
}